#profile-wrap {
  display: flex;
  flex-direction: column;
  //   justify-content: flex-start;

  width: 220px;

  //   height: 300px;

  margin-right: 22px;

  border-top: 4px solid #676767;
  border-bottom: 4px solid #676767;
  //   background-color: aqua;

  text-align: center;

  #navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    * {
      text-decoration: none;
      color: #161616;
      height: 24px;
      margin-bottom: 8px;
    }

    .active {
      font-weight: 700;
    }
  }
}

#myRentalList {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 220px;
  height: 458px;
  overflow: auto;

  margin-top: 24px;

  border-radius: 15px;

  background-color: #f5f5f5;

  p {
    font-size: 16px;
    font-weight: 700;
    margin: 8px;
  }

  div {
    width: 188px;
    height: 76px;

    margin-bottom: 10px;

    border-radius: 8px;
    border: 2px solid rgba(103, 103, 103, 0.3);

    background-color: rgba(255, 255, 255, 0.8);

    h3 {
      color: #e03333;
      font-weight: 700;
    }

    p {
      font-size: 14px;
      span {
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
}
