#main-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;
}

#contents {
  display: flex;
  //   justify-content: center;

  margin-top: 24px;
}

.main {
  //   width: 100%;
  width: 1100px;
  height: 804px;

  padding: 20px;

  border: solid 2px #c6c1d1;
  border-radius: 16px;
}
