#center {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  width: 1200px;
  height: 600px;

  border-radius: 550px;
  background-color: #ffffff;

  text-align: center;
  p {
    width: 100%;
    text-align: left;
  }
}

#loginWrap {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;

  height: 100vh;
  background-color: #404041;
  ul {
    display: inline-flex;
    list-style: none;
    a {
      text-decoration: none;
      color: #c6c1d1;
    }
    li {
      margin-right: 36px;
    }
  }

  p {
    margin-bottom: 8px;
  }

  input {
    width: 540px;
    height: 32px;
    border-radius: 8px;
    border: 1px solid #c6c1d1;
    padding: 24px;

    &::placeholder {
      font-size: 16px;
      color: #c6c1d1;
    }
  }

  button {
    align-items: center;
    max-width: 540px;
    width: 100%;
    height: 44px;

    font-weight: 700;
    font-size: 20px;
    color: #f5f5f5;

    border-radius: 8px;

    margin: 0;
    margin-top: 36px;
  }

  form {
    display: flex;
    flex-direction: column;
  }
}

.noneActiveLoginBtn {
  border: 1px solid #c6c1d1;

  background-color: #c6c1d1;
}

.activeLoginBtn {
  background-color: #9785cb;
}
